# Environment Variables Template
# Copy this file to .env and fill in the values

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:@127.0.0.1:3306/db_name?serverVersion=8.0.32&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> External Services ###
IMGBB_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MAILER_DSN=
GEMINI_API_KEY=
APIVERVE_API_KEY=
TEXTGEARS_API_KEY=
TEXTGEARS_LANGUAGE=en-US
GROQ_API_KEY=
###< External Services ###

###> DocuSign API ###
DOCUSIGN_CLIENT_ID=
DOCUSIGN_USER_ID=
DOCUSIGN_ACCOUNT_ID=
DOCUSIGN_PRIVATE_KEY_PATH="%kernel.project_dir%/config/docusign_private.key"
DOCUSIGN_WEBHOOK_URL=
###< DocuSign API ###
