includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
    level: 9 # Niveau d'analyse (de 0 à 9, où 9 est le plus strict)
    paths:
        - src/Controller/IdeaController.php
        - src/Entity/Idea.php
        - src/Form/IdeaType.php
        - src/Repository/IdeaRepository.php
        - src/Service/IdeaRecommendationService.php
    excludePaths:
        - tests/* # Exclure les fichiers de test