includes:
    - phpstan.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 5
    paths:
        - src/Entity/Post.php
        - src/Entity/Comment.php
        - src/Controller/Forum/PostController.php
        - src/Controller/Forum/CommentController.php
        - src/Controller/Forum/PostReactionController.php
        - src/Repository/PostRepository.php
        - src/Repository/CommentRepository.php
        - src/Repository/PostReactionRepository.php

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    ignoreErrors:
        - '#Property .*::\$id .* never assigned int#'
        - '#Method App\\Entity\\Comment::getUpdatedAt\(\) should return DateTimeInterface but returns DateTimeInterface\|null#'

    reportUnmatchedIgnoredErrors: false

services:
    -
        class: App\PHPStan\NoEntityInstantiationInControllerRule
        tags:
            - phpstan.rules.rule
