parameters:
    level: 8
    paths:
        - src/Entity
    ignoreErrors:
        - '#Property .*::\$id .* never assigned int#'
        - '#Method App\\Entity\\Comment::getUpdatedAt\(\) should return DateTimeInterface but returns DateTimeInterface\|null#'