CREATE TABLE conversation (id INT AUTO_INCREMENT NOT NULL, created_at DATETIME NOT NULL, post_id INT NOT NULL, owner_user_id INT NOT NULL, admin_user_id INT NOT NULL, UNIQUE INDEX UNIQ_8A8E26E94B89032C (post_id), INDEX IDX_8A8E26E92B18554A (owner_user_id), INDEX IDX_8A8E26E96352511C (admin_user_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
CREATE TABLE `group` (id INT AUTO_INCREMENT NOT NULL, name VARCHAR(255) NOT NULL, owner_id INT NOT NULL, INDEX IDX_6DC044C57E3C61F9 (owner_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
CREATE TABLE group_user (group_id INT NOT NULL, users_id INT NOT NULL, INDEX IDX_A4C98D39FE54D947 (group_id), INDEX IDX_A4C98D3967B3B43D (users_id), PRIMARY KEY (group_id, users_id)) DEFAULT CHARACTER SET utf8mb4;
CREATE TABLE message (id INT AUTO_INCREMENT NOT NULL, content LONGTEXT NOT NULL, created_at DATETIME NOT NULL, is_read TINYINT NOT NULL, read_at DATETIME DEFAULT NULL, is_profane TINYINT DEFAULT 0 NOT NULL, profane_words INT DEFAULT 0 NOT NULL, grammar_errors INT DEFAULT 0 NOT NULL, status VARCHAR(50) DEFAULT 'visible' NOT NULL, conversation_id INT NOT NULL, sender_user_id INT NOT NULL, INDEX IDX_B6BD307F9AC0396 (conversation_id), INDEX IDX_B6BD307F2A98155E (sender_user_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
CREATE TABLE post_reaction (id INT AUTO_INCREMENT NOT NULL, type VARCHAR(20) NOT NULL, created_at DATETIME NOT NULL, user_id INT NOT NULL, post_id INT NOT NULL, INDEX IDX_1B3A8E56A76ED395 (user_id), INDEX IDX_1B3A8E564B89032C (post_id), UNIQUE INDEX unique_user_post_reaction (user_id, post_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
CREATE TABLE user_cours_progress (id INT AUTO_INCREMENT NOT NULL, progress_percentage NUMERIC(5, 2) NOT NULL, completed_at DATETIME DEFAULT NULL, created_at DATETIME NOT NULL, updated_at DATETIME DEFAULT NULL, total_ressources INT NOT NULL, opened_ressources INT NOT NULL, user_id INT NOT NULL, cours_id INT NOT NULL, INDEX IDX_8E1083C2A76ED395 (user_id), INDEX IDX_8E1083C27ECF78B0 (cours_id), UNIQUE INDEX user_cours_unique (user_id, cours_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
CREATE TABLE user_ressource_progress (id INT AUTO_INCREMENT NOT NULL, status VARCHAR(20) NOT NULL, opened_at DATETIME DEFAULT NULL, created_at DATETIME NOT NULL, updated_at DATETIME DEFAULT NULL, user_id INT NOT NULL, ressource_id INT NOT NULL, INDEX IDX_C0F4AD67A76ED395 (user_id), INDEX IDX_C0F4AD67FC6CD52A (ressource_id), UNIQUE INDEX user_ressource_unique (user_id, ressource_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
ALTER TABLE conversation ADD CONSTRAINT FK_8A8E26E94B89032C FOREIGN KEY (post_id) REFERENCES post (id);
ALTER TABLE conversation ADD CONSTRAINT FK_8A8E26E92B18554A FOREIGN KEY (owner_user_id) REFERENCES users (id);
ALTER TABLE conversation ADD CONSTRAINT FK_8A8E26E96352511C FOREIGN KEY (admin_user_id) REFERENCES users (id);
ALTER TABLE `group` ADD CONSTRAINT FK_6DC044C57E3C61F9 FOREIGN KEY (owner_id) REFERENCES users (id);
ALTER TABLE group_user ADD CONSTRAINT FK_A4C98D39FE54D947 FOREIGN KEY (group_id) REFERENCES `group` (id) ON DELETE CASCADE;
ALTER TABLE group_user ADD CONSTRAINT FK_A4C98D3967B3B43D FOREIGN KEY (users_id) REFERENCES users (id) ON DELETE CASCADE;
ALTER TABLE message ADD CONSTRAINT FK_B6BD307F9AC0396 FOREIGN KEY (conversation_id) REFERENCES conversation (id);
ALTER TABLE message ADD CONSTRAINT FK_B6BD307F2A98155E FOREIGN KEY (sender_user_id) REFERENCES users (id);
ALTER TABLE post_reaction ADD CONSTRAINT FK_1B3A8E56A76ED395 FOREIGN KEY (user_id) REFERENCES users (id);
ALTER TABLE post_reaction ADD CONSTRAINT FK_1B3A8E564B89032C FOREIGN KEY (post_id) REFERENCES post (id);
ALTER TABLE user_cours_progress ADD CONSTRAINT FK_8E1083C2A76ED395 FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;
ALTER TABLE user_cours_progress ADD CONSTRAINT FK_8E1083C27ECF78B0 FOREIGN KEY (cours_id) REFERENCES cours (id) ON DELETE CASCADE;
ALTER TABLE user_ressource_progress ADD CONSTRAINT FK_C0F4AD67A76ED395 FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;
ALTER TABLE user_ressource_progress ADD CONSTRAINT FK_C0F4AD67FC6CD52A FOREIGN KEY (ressource_id) REFERENCES ressource (id) ON DELETE CASCADE;
ALTER TABLE users ADD created_at DATETIME DEFAULT NULL, CHANGE numtel numtel VARCHAR(20) DEFAULT NULL;
ALTER TABLE categorie_cours CHANGE date_de_creation date_de_creation DATETIME DEFAULT NULL, CHANGE date_de_modification date_de_modification DATETIME DEFAULT NULL;
ALTER TABLE collaborator CHANGE phone phone VARCHAR(50) DEFAULT NULL, CHANGE website website VARCHAR(255) DEFAULT NULL, CHANGE domain domain VARCHAR(100) DEFAULT NULL, CHANGE logo logo VARCHAR(255) DEFAULT NULL;
ALTER TABLE collab_request CHANGE budget budget NUMERIC(10, 2) DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL, CHANGE responded_at responded_at DATETIME DEFAULT NULL;
ALTER TABLE contract DROP docusign_envelope_id, CHANGE pdf_path pdf_path VARCHAR(255) DEFAULT NULL, CHANGE creator_signature_date creator_signature_date DATETIME DEFAULT NULL, CHANGE collaborator_signature_date collaborator_signature_date DATETIME DEFAULT NULL, CHANGE signature_token signature_token VARCHAR(255) DEFAULT NULL, CHANGE sent_at sent_at DATETIME DEFAULT NULL;
ALTER TABLE cours CHANGE image image VARCHAR(255) DEFAULT NULL, CHANGE date_de_creation date_de_creation DATETIME DEFAULT NULL, CHANGE date_de_modification date_de_modification DATETIME DEFAULT NULL;
ALTER TABLE event ADD created_at DATETIME DEFAULT NULL, CHANGE meeting_link meeting_link VARCHAR(255) DEFAULT NULL, CHANGE platform platform VARCHAR(255) DEFAULT NULL, CHANGE address address VARCHAR(255) DEFAULT NULL, CHANGE google_maps_link google_maps_link VARCHAR(255) DEFAULT NULL, CHANGE contact contact VARCHAR(255) DEFAULT NULL, CHANGE image_path image_path VARCHAR(255) DEFAULT NULL;
ALTER TABLE post ADD is_profane TINYINT DEFAULT 0 NOT NULL, ADD profane_words INT DEFAULT 0 NOT NULL, ADD grammar_errors INT DEFAULT 0 NOT NULL, DROP pdf_drive_file_id, DROP pdf_drive_link, CHANGE updated_at updated_at DATETIME DEFAULT NULL, CHANGE tags tags VARCHAR(255) DEFAULT NULL, CHANGE image_name image_name VARCHAR(255) DEFAULT NULL, CHANGE pdf_name pdf_name VARCHAR(255) DEFAULT NULL;
ALTER TABLE comment ADD is_profane TINYINT DEFAULT 0 NOT NULL, ADD profane_words INT DEFAULT 0 NOT NULL, ADD grammar_errors INT DEFAULT 0 NOT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE notification ADD type VARCHAR(50) DEFAULT 'default' NOT NULL, ADD related_id INT DEFAULT NULL, ADD status VARCHAR(20) DEFAULT NULL, CHANGE target_url target_url VARCHAR(255) DEFAULT NULL;
ALTER TABLE ressource CHANGE url url VARCHAR(255) DEFAULT NULL, CHANGE type type VARCHAR(255) DEFAULT NULL, CHANGE date_de_creation date_de_creation DATETIME DEFAULT NULL, CHANGE date_de_modification date_de_modification DATETIME DEFAULT NULL;
ALTER TABLE idea CHANGE last_used last_used DATETIME DEFAULT NULL;
ALTER TABLE mission CHANGE last_update last_update DATETIME DEFAULT NULL, CHANGE mission_date mission_date DATETIME DEFAULT NULL, CHANGE completed_at completed_at DATETIME DEFAULT NULL;
ALTER TABLE task CHANGE time_limit time_limit DATETIME DEFAULT NULL, CHANGE completed_at completed_at DATETIME DEFAULT NULL;
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
