ALTER TABLE users ADD points INT DEFAULT 0 NOT NULL, CHANGE numtel numtel VARCHAR(20) DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE categorie_cours ADD slug VARCHAR(255) NOT NULL, ADD deleted_at DATETIME DEFAULT NULL, CHANGE date_de_creation date_de_creation DATETIME NOT NULL, CHANGE date_de_modification date_de_modification DATETIME DEFAULT NULL;
CREATE UNIQUE INDEX UNIQ_8B2614C989D9B62 ON categorie_cours (slug);
ALTER TABLE collaborator CHANGE phone phone VARCHAR(50) DEFAULT NULL, CHANGE website website VARCHAR(255) DEFAULT NULL, CHANGE domain domain VARCHAR(100) DEFAULT NULL, CHANGE logo logo VARCHAR(255) DEFAULT NULL;
ALTER TABLE collab_request CHANGE budget budget NUMERIC(10, 2) DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL, CHANGE responded_at responded_at DATETIME DEFAULT NULL;
ALTER TABLE contract CHANGE pdf_path pdf_path VARCHAR(255) DEFAULT NULL, CHANGE creator_signature_date creator_signature_date DATETIME DEFAULT NULL, CHANGE collaborator_signature_date collaborator_signature_date DATETIME DEFAULT NULL, CHANGE signature_token signature_token VARCHAR(255) DEFAULT NULL, CHANGE sent_at sent_at DATETIME DEFAULT NULL;
ALTER TABLE cours ADD slug VARCHAR(255) NOT NULL, ADD statut VARCHAR(20) NOT NULL, ADD niveau VARCHAR(20) DEFAULT NULL, ADD duree_estimee INT DEFAULT NULL, ADD deleted_at DATETIME DEFAULT NULL, CHANGE image image VARCHAR(255) DEFAULT NULL, CHANGE date_de_creation date_de_creation DATETIME NOT NULL, CHANGE date_de_modification date_de_modification DATETIME DEFAULT NULL;
CREATE UNIQUE INDEX UNIQ_FDCA8C9C989D9B62 ON cours (slug);
ALTER TABLE event CHANGE meeting_link meeting_link VARCHAR(255) DEFAULT NULL, CHANGE platform platform VARCHAR(255) DEFAULT NULL, CHANGE address address VARCHAR(255) DEFAULT NULL, CHANGE google_maps_link google_maps_link LONGTEXT DEFAULT NULL, CHANGE contact contact VARCHAR(255) DEFAULT NULL, CHANGE image_path image_path VARCHAR(255) DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE post ADD spam_score INT DEFAULT 0, ADD is_spam TINYINT DEFAULT 0 NOT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL, CHANGE tags tags VARCHAR(255) DEFAULT NULL, CHANGE image_name image_name VARCHAR(255) DEFAULT NULL, CHANGE pdf_name pdf_name VARCHAR(255) DEFAULT NULL;
ALTER TABLE comment CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE notification CHANGE target_url target_url VARCHAR(255) DEFAULT NULL, CHANGE type type VARCHAR(50) DEFAULT 'default' NOT NULL, CHANGE status status VARCHAR(20) DEFAULT NULL;
ALTER TABLE ressource CHANGE url url VARCHAR(255) DEFAULT NULL, CHANGE type type VARCHAR(255) DEFAULT NULL, CHANGE date_de_creation date_de_creation DATETIME DEFAULT NULL, CHANGE date_de_modification date_de_modification DATETIME DEFAULT NULL;
ALTER TABLE idea CHANGE last_used last_used DATETIME DEFAULT NULL;
ALTER TABLE mission CHANGE description description VARCHAR(1000) NOT NULL, CHANGE last_update last_update DATETIME DEFAULT NULL, CHANGE mission_date mission_date DATETIME DEFAULT NULL, CHANGE completed_at completed_at DATETIME DEFAULT NULL;
ALTER TABLE task CHANGE time_limit time_limit DATETIME DEFAULT NULL, CHANGE completed_at completed_at DATETIME DEFAULT NULL;
ALTER TABLE message CHANGE read_at read_at DATETIME DEFAULT NULL, CHANGE status status VARCHAR(50) DEFAULT 'visible' NOT NULL;
ALTER TABLE user_cours_progress CHANGE completed_at completed_at DATETIME DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE user_ressource_progress CHANGE opened_at opened_at DATETIME DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
