{% extends 'base.html.twig' %}

{% block title %}Edit Idea{% endblock %}

{% block body %}
    <div class="flex flex-wrap -mx-3 justify-center">
        <div class="w-full max-w-full px-3 lg:w-8/12">
            <div class="relative flex flex-col min-w-0 mt-6 mb-6 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
                <div class="p-6 pb-0 mb-0 bg-white border-b-0 rounded-t-2xl">
                    <h3 class="font-bold text-transparent bg-gradient-to-tl from-purple-700 to-pink-500 bg-clip-text">Edit Idea</h3>
                    <p class="mb-0 text-sm">Update your idea information below.</p>
                </div>
                <div class="flex-auto p-6">
                    {{ include('tsk/_form.html.twig', {'button_label': 'Update'}) }}
                    
                    <div class="mt-6 pt-6 border-t border-gray-100 flex justify-between items-center">
                        <a href="{{ path('app_idea_index') }}" class="text-sm font-bold text-slate-700 hover:text-fuchsia-500 transition-all">
                            <i class="fas fa-arrow-left mr-1"></i> Back to list
                        </a>
                        {{ include('tsk/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
